.testimonial{
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 200px 0 100px;
    text-align: center;
    margin-top: -60px;
}
.section-title{
    margin-bottom: 70px;
}
.section-title h4{
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'giga_sansbold';
}
.testimonial-list h5{
    color: #eedfdf;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    font-family: 'giga_sansmedium';
    margin-top: 40px;
}
.testimonial-list p{
    font-size: 17px;
    line-height: 26px;
}
.testimonial-item{
    margin-bottom: 100px;
}
.slogan{
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 235px 0 210px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -60px;
}
.slogan h3{
    font-size: 48px;
    font-family: 'museo_slab700';
}
.slogan h2{
    font-size: 61px;
    font-family: 'museo_slab700';
}
.look-me{
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: #6ac5c4;
    padding: 220px 0 80px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -60px;
}
.look-me h4{
    font-size: 39px;
    margin-bottom: 45px;
}
.look-me h3{
    margin-top: 50px;
    font-size: 42px;
}
