/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;
	font-family: 'giga_sansbold';
}
h1{
	font-size: 94px;
}
h2{
	font-size: 53px;
}
h3{
	font-size: 49px;
}
h4{
	font-size: 35px;
}
h5{
	font-size: 19px;
}
